
// Component

.titlebar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;
  background-color: var(--color-dark);
  color: white;
}

// Draggable part
.decorator {
  display: flex;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
}

.drag {
  -webkit-app-region: drag;
  flex-grow: 1;
  margin: 4px 4px 0px 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// .icon {
//   width: 40px;
//   height: 100%;
// }

.title {
  font-size: 1rem;
  color: var(--color-light);
}

// Window buttons part

.window-buttons {
  display: flex;
  height: 100%;
  grid-column: 2/3;
}

.window-button {
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-light);
  font-size: .8rem;
}

.window-button:hover {
  background-color: var(--color-primary);
}

#close:hover {
  background-color: var(--color-danger);
}
